.list {
    display: flex;
    height: 50px;
    box-shadow: 0px 2px 5px gray;
    padding: 10px;
    margin: 2% 2%;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
}

.left-box {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 100%;
    width: 10%;
    font-size: 2em;
}

.center-box {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 100%;
    width: 60%;
    font-size: 2em;
}
/* .styleDiv{
    height: 300px;
    width: 600px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    right: 40px;
}  */
#modalBg{
    background-color: rgba(0, 0, 0, 0.412);
    height: calc(100vh);
    width: calc(100vw);
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}
#modalBox{
    background-color: orange;
    display: flex;
    height: calc(50vh);
    width: calc(40vw);
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    margin-left: 30%;
    
}
#cut{
    height: calc(6vh);
    width: calc(3vw);
    background-color: greenyellow;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    margin-top: 12.5%;
    margin-left: 67.5%;
    z-index: 1;
}